services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432" 
   
  web:
    build: ./app
    environment:
      DATABASE_URL: ${DATABASE_URL}
      CACHE_CAPACITY: ${CACHE_CAPACITY}
      CACHE_TTL_SECONDS: ${CACHE_TTL_SECONDS}
      PYDEVD_DISABLE_FILE_VALIDATION: 1
    ports:
      - "8000:8000"
      - "5678:5678"  # Debug port
    depends_on:
      - db
    command: python -Xfrozen_modules=off debug_entrypoint.py